* {
	margin: 0;
}

#palette {

	width: 48px;
	background-color: lightgrey;
	margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */

}

ul {
	list-style: none;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.tool, #colors li {
	display: block;
	width: 24px;
	height: 24px;
	box-sizing: border-box;
	padding: 5px;
	background-color: white;
	margin: 6px 0 6px 0;
	cursor: pointer;
}

.tool:hover, #colors li:hover {
	outline: 2px solid white;
}

.icon {
	text-align: center;
}

#colors li.selected, #tools li.selected {
	outline: 2px solid darkgrey;
}

#tools, #colors {
	width: 100%;
	padding: 8px 12px;
}

